.icon-left-circled:before {
  content: '\e800';
} /* '' */
.icon-right-circled:before {
  content: '\e802';
} /* '' */
.icon-left-circle:before {
  content: '\e805';
} /* '' */
.icon-right-circle:before {
  content: '\e806';
} /* '' */
