@font-face {
  font-family: 'tangly';
  src: url('../font/tangly.eot?72287410');
  src:
    url('../font/tangly.eot?72287410#iefix') format('embedded-opentype'),
    url('../font/tangly.woff2?72287410') format('woff2'),
    url('../font/tangly.woff?72287410') format('woff'),
    url('../font/tangly.ttf?72287410') format('truetype'),
    url('../font/tangly.svg?72287410#tangly') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'tangly';
    src: url('../font/tangly.svg?72287410#tangly') format('svg');
  }
}
*/
[class^='icon-']:before,
[class*=' icon-']:before {
  font-family: 'tangly';
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-left-circled:before {
  content: '\e800';
} /* '' */
.icon-right-circled:before {
  content: '\e802';
} /* '' */
.icon-left-circle:before {
  content: '\e805';
} /* '' */
.icon-right-circle:before {
  content: '\e806';
} /* '' */
